{% extends "base.html" %}
{% block title %}Feature Request{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}

{% block sidebar %}
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li ><a href="dashboard.html">Features List </a></li>
			<li class="active"><a href="#">Add new feature<span class="sr-only">(current)</span></a></li>

		</ul>

	</div>
{% endblock %}

{% block contentTitle %}Add new Feature{% endblock %}
{% block contentSubTitle %}Filter by client :{% endblock %}

{% block content %}
    <form>
              <div class="form-group">
                  <label for="titleText">Title</label>
                  <input type="text" class="form-control" id="titleText" aria-describedby="titleHelp" placeholder="Enter title">
                  <small id="titleHelp" class="form-text text-muted">Enter the title of the feature.</small>
              </div>
               <div class="form-group">
                  <label for="descriptionText">Description</label>
                  <textarea class="form-control" id="descriptionText" rows="3"></textarea>
              </div>
              
              
              <div class="form-group">
                  <label for="cilentSelect">Client</label>
                  <select class="form-control" id="cilentSelect">
                      <option>Client A</option>
                      <option>Client B</option>
                      <option>Client C</option>
                      
                  </select>
              </div>
              <div class="form-group">
                  <label for="prioritySelect">Priority</label>
                  <select class="form-control" id="prioritySelect">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="targetDateText">Target Date</label>
                  <input type="date" class="form-control" id="targetDateText" aria-describedby="targetDateHelp" placeholder="Enter target Date">
                  <small id="targetDateHelp" class="form-text text-muted">Enter the target Date.</small>
              </div>
              
              
              
              <div class="form-group">
                  <label for="ticketUrlText">Ticket URL</label>
                  <input type="date" class="form-control" id="ticketUrlText" aria-describedby="tcketUrlHelp" placeholder="Enter ticket URL">
                  <small id="tcketUrlHelp" class="form-text text-muted">Enter the ticket URL.</small>
              </div>
              <div class="form-group">
                  <label for="cilentSelect">Product</label>
                  <select class="form-control" id="cilentSelect">
                      <option>Policies</option>
                      <option>Billing</option>
                      <option>Claims</option>
                      <option>Reports</option>
                      
                  </select>
              </div>
             
              <button type="submit" class="btn btn-primary">Save</button>
          </form>
{% endblock %}


