{% extends "base.html" %}
{% block title %}FAdmin Panel{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}

{% block sidebar %}
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#">Features Requests<span class="sr-only">(current)</span></a></li>
			<li ><a href="#">Clients </a></li>
			<li ><a href="#">Products </a></li>
			<li ><a href="#">Users </a></li>

		</ul>

	</div>
{% endblock %}

{% block contentTitle %}Feature Request{% endblock %}
{% block contentSubTitle %}Filter by client :{% endblock %}

{% block content %}
    <div class="btn-group">
	  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  All
	  </button>
	  <div class="dropdown-menu">
		  <a class="dropdown-item" href="#">Client A</a>
		  <a class="dropdown-item" href="#">Client B</a>
		  <a class="dropdown-item" href="#">Client C</a>
	  </div>
  </div>
  
  <div class="table-responsive">
	  <table class="table table-striped table-inverse">
		  <thead>
			  <tr>
				  <th>#</th>
				  <th>Title</th>
				  <th>Description</th>
				  <th>Client</th>
				  <th>Client priority</th>
				  <th>Target date</th>
				  <th>Ticket URL</th>
				  <th>Product Area</th>
			  </tr>
		  </thead>
		  <tbody>
			  <tr>
				  <th scope="row">1</th>
				  <td>Mark</td>
				  <td>Otto</td>
				  <td>@mdo</td>
				  <td>Mark</td>
				  <td>Otto</td>
				  <td>@mdo</td>
				  <td>@mdo</td>
			  </tr>
			  <tr>
				  <th scope="row">2</th>
				  <td>Jacob</td>
				  <td>Thornton</td>
				  <td>@fat</td>
				  <td>Mark</td>
				  <td>Otto</td>
				  <td>@mdo</td>
				  <td>@mdo</td>
			  </tr>
			  <tr>
				  <th scope="row">3</th>
				  <td>Larry</td>
				  <td>the Bird</td>
				  <td>@twitter</td>
				  <td>Mark</td>
				  <td>Otto</td>
				  <td>@mdo</td>
				  <td>@mdo</td>
			  </tr>
		  </tbody>
	  </table>
  </div>
{% endblock %}
